@use '../../styles/shared';

.task-form {
    width: 100%;

    &--edit {
        label {
            display: none;
        }

        label.visible-on-edit {
            display: flex;
            font-size: 11px;
        }

    }

    &__form {
        @extend %task-grid;
        width: 100%;
    }

    &__field {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &--submit {
            text-align: center;
        }
    }

    &__label {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &__btn {
        display: flex;
        justify-content: center;
        width: 60px;
    }

    &__errors {
        align-items: flex-end;
        display: flex;
        color: red;
        width: 100%;
    }

    
}