@use '../../styles/shared';

.task-list {
    position: relative;
    margin: 0 auto;
    width: 60%;

    &__header {
        @extend %task-grid;
        height: 1em;
    }

    &__heading {
        font-weight: bold;
        text-align: center;
    }

    &__list {
        display: block;
        height: auto;
        list-style: none;
        padding-left: 0;
        width: 100%;

        &-item {
            height: 2em;

            &--completed {
                .task-list__col {
                    text-decoration: line-through;
                }
            }
        }
    }

    &__row {
        @extend %task-grid;
    }

    &__msg--no-task {
        display: flex;
        font-style: italic;
        justify-content: center;
    }

    &__col {
        display: flex;
        height: 3em;
        justify-content: center;

        &--desc {
            justify-content: left;
        }
    }

    &__controls {
        align-items: flex-end;
        display: inline-flex;
        margin: 1.2em 0;
        width: 100%;
    }

    &__btn {
        &--edit {
            color: green;
        }
        
        &--delete {
            color: red;
        }
    }
}

