@use '../../styles/shared';

.todos {
    position: relative;
    margin: 0 auto;
    width: 60%;

    &__header {
        @extend %todo-grid;
        height: 3em;
    }

    &__heading {
        font-weight: bold;
        text-align: center;
    }

    &__link {
        color: blue;

        &:visited {
            color: violet;
        }
    }

    &__list {
        list-style: none;
        padding-left: 0;

        &-item {
            @extend %todo-grid;
            height: 2em;
            width: 100%;

            &--completed {
                a {
                    text-decoration: line-through;
                }
            }
        }
    }

    &__col {
        display: flex;
        height: 3em;
        justify-content: center;

        &--title {
            justify-content: left;
        }
    }

    &__btn {

        &--add {
            max-width: 60px;
        }
        
        &--edit {
            color: green;
        }
        
        &--delete {
            color: red;
        }
    }

}